# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
index1.html
script1.js

out/

dist-electron/
electron-as-browser/
App-old.jsx
electron-react-markdown-editor/

# LightGallery
lightGallery-master/

# Yet Another React Lightbox
yet-another-react-lightbox/

# Cherry Markdown
cherry-markdown/

# Chatbox
@chatbox/
chatbox
oldAIChat.jsx

oldMarkdownRenderer.jsx
oldfile/oldchat.css
oldfile/oldChatView.jsx
oldfile/oldmessage.css
oldfile/oldMessageItem.jsx
oldfile/oldmessages.css
oldfile/modelProvidersold.js
oldfile/code_line.md
SimpleImageCrop
oldfile/oldEditor.jsx
Cherry-studio
修改总结.md